{% extends 'search_filter/base.html' %}

{% block content %}

<div>
    <main class="container-fluid mb-3">
        <div class="row p-2">

            <!--Items Filter-->
            <div class="col-3">
                <div class="card p-3">
                        <form id="price_search" action="" method="GET">

                            <section class="mt-2">
                                <span class="text-muted font-weight-bold">Price
                                    Range</span>
                                <div class="d-flex-block">
                                    <input style="width: 120px;" type="number"
                                        name="min" id="min"
                                        class="form-control d-inline me-2"
                                        placeholder="Min" required/>

                                    <input style="width: 120px;" type="number"
                                        name="max" id="max"
                                        class="form-control d-inline me-2"
                                        placeholder="Max" required/>

                                    <button style="width: 50px; height: 36px;"
                                        class="btn btn-success btn-sm d-inline">Go</button>
                                </div>
                            </section>
                        </form>
                        <section class="mt-3">
                            <span
                                class="text-muted font-weight-bold">Category</span>
                            <div class="col-12">

                                {% for category in categories %}
                                <div class="form-check">
                                    <input class="form-check-input" data-filter="category" type="checkbox" value="{{ category.id }}" id="{{ category.id }}">
                                    <label class="form-check-label"
                                        for="categorya">
                                        {{category.name}}
                                    </label>
                                </div>

                                {% endfor %}

                            </div>
                        </section>

                        <section class="mt-3">
                            <span
                                class="text-muted font-weight-bold">Brand</span>
                            <div class="col-12">

                                {% for brand in brands %}
                                <div class="form-check">
                                    <input class="form-check-input" data-filter="brand"
                                        type="checkbox" value="{{ brand.id }}" id="{{ brand.id }}>
                                    <label class="form-check-label"
                                        for="categorya">
                                        {{brand.name}}
                                    </label>
                                </div>

                                {% endfor %}

                            </div>
                        </section>

                        <section class="mt-3">
                            <span class="text-muted font-weight-bold">Product
                                Type</span>
                            <div class="col-12">

                                {% for type in types %}
                                <div class="form-check">
                                    <input class="form-check-input" data-filter="type"
                                        type="checkbox" value="{{ type.id }}" id="{{ type.id }}>
                                    <label class="form-check-label"
                                        for="categorya">
                                        {{type.name}}
                                    </label>
                                </div>

                                {% endfor %}

                            </div>
                        </section>

                        <section class="mt-3">
                            <span class="text-muted font-weight-bold">Select
                                Seller</span>
                            <div class="col-12">

                                {% for seller in sellers %}
                                <div class="form-check">
                                    <input class="form-check-input" data-filter="seller" type="checkbox" value="{{ seller.id }}" id="{{ seller.id }}">
                                    <label class="form-check-label">
                                        {{seller.name}}
                                    </label>
                                </div>

                                {% endfor %}

                            </div>
                        </section>

                        <section class="mt-3">
                            <span
                                class="text-muted font-weight-bold">Warrenty</span>
                            <div class="col-12">

                                {% for warranty in warranty %}
                                <div class="form-check">
                                    <input class="form-check-input" data-filter="warranty"
                                        type="checkbox" value="{{ warranty.id }}" id="{{ warranty.id }}>
                                    <label class="form-check-label"
                                        for="categorya">
                                        {{warranty.duration}}
                                    </label>
                                </div>

                                {% endfor %}

                            </div>
                        </section>

                </div>
            </div>
            <!--End Items Filter-->

            <!-- Items -->
            <div class="col-9">
                <div class="container">
                    <div class="row" id="product_show">

                        
                        {% for product in products %}
                            
                        
                            
                        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                            <div class="card">
                                {% if product.image %}
                                    <img class="p-2" style="height: 150px; width: 240px; margin:auto;" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% endif %}
                                
                                <div
                                    class="card-img-overlay d-flex justify-content-end">
                                    <a href="#"
                                        class="card-link text-danger like">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{product.name}}</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Category: {{product.category}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Brand: {{product.brand}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Warrenty: {{product.warranty}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Product type:
                                        {{product.product_type}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Seller:
                                        {{product.seller}}</h6>
                                   
                                    
                                    <div
                                        class="buy d-flex justify-content-between align-items-center">
                                        <div class="price text-success"><h5
                                                class="mt-4">{{product.price}} BDT</h5></div>
                                        <a href="#"
                                            class="btn btn-danger mt-3"><i
                                                class="fas fa-shopping-cart"></i>
                                            Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}    
                    </div>
                </div>
            </div>
            <!--End Items -->

        </div>
    </main>

</div>


<!-- <script>
    $(document).ready(function(){
        $('#price_search').on("submit", function(e){
            e.preventDefault();
            console.log('Price Submitted');

            let min = $('#min').val();
            let max = $('#max').val();


            console.log(min);
            console.log(max);
            
            $('#category-add :input').val('');


            mydata = {min: min, max:max}
            $('#product_show').empty();

            $.ajax({
                url :"{% url 'index' %}",
                method: "GET",
                data: mydata,
                dataType: 'json',
                success: function(response){
                    console.log(response);
                    $('#product_show').html(response.data);
                }
            })
        });

    });
</script> -->

<script>
    $(document).ready(function(){
        $(".form-check-input, #price_search").on('click submit', function(e){
            if ($(this).attr('id') === 'price_search') {
                e.preventDefault();
            }

                var filter_object = {};

                var min = $('#min').val();
                var max = $('#max').val();

                filter_object['min'] = min;
                filter_object['max'] = max;

                $(".form-check-input").each(function(index, ele){
                    var filter_value = $(this).val();
                    var filter_key = $(this).data('filter');

                    console.log(filter_key, filter_value);

                    filter_object[filter_key] = Array.from(document.querySelectorAll('input[data-filter=' + filter_key + ']:checked')).map(function(el){
                         return el.value;
                    });
                });

                $.ajax({
                    url: '{% url "filter_data" %}',
                    data: filter_object,
                    dataType: 'json',            
                    success: function(res){                
                        $("#product_show").html(res.data);                
                    }
                });
            
        });
    });
</script>

    
    



{% endblock content %}